.single-category {
    text-align: start;
    font-size: 1rem;
    padding: 10px;
}

.single-category button {
    width: 30px;
    height: 30px;
    padding: 1px;
    margin: 0 5px;
}

.single-category-text-input {
    height: 30px;
    width: 200px;
    display: inline-block;
}