:root {
  /* --bs-body-color: hsla(314, 68%, 96%, 1); */
  --bs-body-bg: hsla(314, 68%, 96%, 1);

  /* --bs-secondary-color: hsla(114, 15%, 51%, 1); */
  --bs-secondary-bg: hsla(114, 15%, 51%, 1);

  /* --bs-tertiary-color: hsla(225, 8%, 29%, 1); */
  --bs-tertiary-bg: hsla(225, 8%, 29%, 1);

  --bs-border-color: hsla(225, 8%, 29%, 1);

  --bs-primary: hsla(143, 45%, 71%, 1);
  --bs-primary-bg-subtle: hsla(225, 8%, 29%, 1);
  --bs-primary-border-subtle: hsla(125, 24%, 58%, 1);
  --bs-primary-text-emphasis: hsla(143, 45%, 71%, 1);

  --charcoal: hsla(225, 8%, 29%, 1);
  --asparagus: hsla(114, 15%, 51%, 1);
  --cambridge-blue: hsla(125, 24%, 58%, 1);
  --celadon: hsla(143, 45%, 71%, 1);
  --lavender-blush: hsla(314, 68%, 96%, 1);
}

.navbar-brand, .navbar-brand:hover {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75em;
  color: var(--lavender-blush);
}

.nav-link {
  color: var(--celadon);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:visited, .nav-link:active {
  color: var(--celadon);
}

.nav-link:hover, .nav-link:focus {
  color: var(--asparagus);
}

.btn-primary {
  background-color: var(--celadon);
  border-color: var(--celadon);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--asparagus);
  border-color: var(--asparagus);
}